* {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

#stories {
	list-style: none;
	padding-left: 0px;
}

#stories > li {
	margin-bottom: 10px;
}

.story {
	background-color: #EEE;
}

.story p {
	margin: 0px;
}

.story section {
	display: inline-block;
	padding: 4px;
	height: 36px;
}

.story .left {
	width: calc(100% * 0.8 - 10px);
	left: 0;
}

.story .title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.story .domain {
	color: gray;
}

.story .right {
	width: calc(100% * 0.2 - 11px);
	right: 0;
	text-align: right;
	background-color: #DDD;
}

.story .time {
	float: right;
}

.story .votes {
	float: left;
}

#container a {
	word-wrap: break-word;
}

ul#comments {
	padding-left: 0px;
}

ul#comments li {
	list-style: none;
	background-color: #EEE;
	border-left: 5px solid #DDD;
}

ul#comments li .details {
	background-color: #DDD;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

ul#comments li p:not(.details) {
	padding-bottom: 16px;
	padding-left: 5px;
}