* {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}


/* Loading animation */
/* Based on https://codepen.io/alanshortis/pen/eJLVXr */
@keyframes pulse {
	50% {
		background: rgb(255, 102, 0);
	}
}

.loading {
	position: relative;
	top: 50%;
	left: 50%;

	width: 6px;
	height: 24px;
	background: rgba(255, 102, 0, 0.2);
	animation: pulse 750ms infinite;
	animation-delay: 250ms;
}

.loading:before,
.loading:after {
	content: "";
	position: absolute;
	display: block;
	height: 16px;
	width: 6px;
	background: rgba(255, 102, 0, 0.2);
	top: 50%;
	transform: translateY(-50%);
	animation: pulse 750ms infinite;
}

.loading:before {
	left: -12px;
}

.loading:after {
	left: 12px;
	animation-delay: 500ms;
}

#stories {
	list-style: none;
	padding-left: 0px;
}

#stories > li {
	margin-bottom: 10px;
}

.story {
	background-color: #EEE;
}

.story p {
	margin: 0px;
}

.story section {
	display: inline-block;
	padding: 4px;
	height: 36px;
}

.story .left {
	width: calc(100% * 0.8 - 10px);
	float: left;
}

.story .title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.story .domain {
	color: gray;
}

.story .right {
	width: calc(100% * 0.2 - 6px);
	text-align: right;
	background-color: #DDD;
}

.story .time {
	float: right;
}

.story .votes {
	float: left;
}

#container a {
	word-wrap: break-word;
}

ul#comments {
	padding-left: 0px;
}

ul#comments li {
	list-style: none;
	background-color: #EEE;
	border-left: 5px solid #DDD;
}

ul#comments li .details {
	background-color: #DDD;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

ul#comments li .details .toggle {
	cursor: pointer;
	float: right;
}

ul#comments li p:not(.details) {
	padding-left: 5px;
	
}

ul#comments li .content > p:last-of-type {
	padding-bottom: 16px;
}


ul#comments li pre {
	overflow-x: scroll;
	background-color: #EEE;
}

ul#comments li pre > code {
	font-family: monospace;
}
